<?xml version='1.0' encoding='utf-8'?>
<plugin id="nl.creativeskills.cordovaPlugins" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>MuPDFViewer</name>
	<!--<js-module name="MuPDFViewer" src="www/MuPDFViewer.js">
			<clobbers target="MuPDFViewer"/>
	</js-module>-->
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="MuPDFViewer">
				<param name="android-package" value="nl.creativeskills.cordovaPlugins.MuPDFViewer"/>
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"/>

		<source-file src="src/android/nl/creativeskills/cordovaPlugins/MuPDFViewer.java" target-dir="src/nl/creativeskills/cordovaPlugins/"/>
		<source-file src="src/android/nl/creativeskills/cordovaPlugins/R.java" target-dir="src/nl/creativeskills/cordovaPlugins/"/>
		<source-file src="src/android/nl/creativeskills/cordovaPlugins/BuildConfig.java" target-dir="src/nl/creativeskills/cordovaPlugins/"/>

		<source-file src="src/android/nl/creativeskills/mupdf/AsyncTask.java" target-dir="src/nl/creativeskills/mupdf/"/>
		<source-file src="src/android/nl/creativeskills/mupdf/BitmapHolder.java" target-dir="src/nl/creativeskills/mupdf/"/>
		<source-file src="src/android/nl/creativeskills/mupdf/LinkInfo.java" target-dir="src/nl/creativeskills/mupdf/"/>
		<source-file src="src/android/nl/creativeskills/mupdf/LinkInfoExternal.java" target-dir="src/nl/creativeskills/mupdf/"/>
		<source-file src="src/android/nl/creativeskills/mupdf/LinkInfoInternal.java" target-dir="src/nl/creativeskills/mupdf/"/>
		<source-file src="src/android/nl/creativeskills/mupdf/LinkInfoRemote.java" target-dir="src/nl/creativeskills/mupdf/"/>
		<source-file src="src/android/nl/creativeskills/mupdf/LinkInfoVisitor.java" target-dir="src/nl/creativeskills/mupdf/"/>
		<source-file src="src/android/nl/creativeskills/mupdf/MuPDFActivity.java" target-dir="src/nl/creativeskills/mupdf/"/>
		<source-file src="src/android/nl/creativeskills/mupdf/MuPDFAlert.java" target-dir="src/nl/creativeskills/mupdf/"/>
		<source-file src="src/android/nl/creativeskills/mupdf/MuPDFAlertInternal.java" target-dir="src/nl/creativeskills/mupdf/"/>
		<source-file src="src/android/nl/creativeskills/mupdf/MuPDFCore.java" target-dir="src/nl/creativeskills/mupdf/"/>
		<source-file src="src/android/nl/creativeskills/mupdf/MuPDFPageAdapter.java" target-dir="src/nl/creativeskills/mupdf/"/>
		<source-file src="src/android/nl/creativeskills/mupdf/MuPDFPageView.java" target-dir="src/nl/creativeskills/mupdf/"/>
		<source-file src="src/android/nl/creativeskills/mupdf/MuPDFReaderView.java" target-dir="src/nl/creativeskills/mupdf/"/>
		<source-file src="src/android/nl/creativeskills/mupdf/MuPDFView.java" target-dir="src/nl/creativeskills/mupdf/"/>
		<source-file src="src/android/nl/creativeskills/mupdf/OutlineActivityData.java" target-dir="src/nl/creativeskills/mupdf/"/>
		<source-file src="src/android/nl/creativeskills/mupdf/OutlineItem.java" target-dir="src/nl/creativeskills/mupdf/"/>
		<source-file src="src/android/nl/creativeskills/mupdf/PageView.java" target-dir="src/nl/creativeskills/mupdf/"/>
		<source-file src="src/android/nl/creativeskills/mupdf/ReaderView.java" target-dir="src/nl/creativeskills/mupdf/"/>
		<source-file src="src/android/nl/creativeskills/mupdf/SearchTaskResult.java" target-dir="src/nl/creativeskills/mupdf/"/>
		<source-file src="src/android/nl/creativeskills/mupdf/TextChar.java" target-dir="src/nl/creativeskills/mupdf/"/>
		<source-file src="src/android/nl/creativeskills/mupdf/TextWord.java" target-dir="src/nl/creativeskills/mupdf/"/>
		<source-file src="src/android/nl/creativeskills/mupdf/WidgetType.java" target-dir="src/nl/creativeskills/mupdf/"/>

		<source-file src="src/android/libs/armeabi/libmupdf.so" target-dir="libs/armeabi"/>
		<source-file src="src/android/libs/armeabi-v7a/libmupdf.so" target-dir="libs/armeabi-v7a"/>    	

		<source-file src="src/android/resources/layout/buttons.xml" target-dir="res/layout"/>
		<source-file src="src/android/resources/values/colors.xml" target-dir="res/values"/>
		<source-file src="src/android/resources/drawable/page_num.xml" target-dir="res/drawable"/>
		<source-file src="src/android/resources/layout/textentry.xml" target-dir="res/layout"/>

	</platform>
</plugin>